.cards-container {
	background-color: white;
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.card {
	border: 3px solid black;
	border-radius: 5px;
	width: 200px;
	min-height: 250px;
	position: relative;
}
.card img {
	margin: 0;
	padding: 0;
	width: 100%;
}
.card h3 {
	padding: 0;
	margin: 0;
	font-size: 28px;
}
.card h4 {
	padding: 0;
	margin: 0;
}
.name-box {
	margin: 0;
	padding: 0;
	width: 100%;
	position: absolute;
	top: 0;
	color: white;
	background-color: rgb(128, 128, 128, 0.3);
}
.description {
	margin-top: 0;
}
