button {
    padding: 10px;
    background-color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    height: 52px;
}

button:hover {
    background-color: tomato;
}